.breathing-text {
  animation: breathing 2s infinite alternate; /* Define la animación de respiración */
}

/* Define la animación "breathing" */
@keyframes breathing {
  0% {
    transform: scale(1); /* Escala normal al inicio */
  }
  100% {
    transform: scale(1.05); /* Escala ligeramente más grande al final */
  }
}
